<html>
  <head>
    <title>{{ election.title|escape }}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>
  <body>
    <h1>{{ election.title|escape }}</h1>
    <p>{{ election.description|markdown }}</p>
    <select onchange="location = this.options[this.selectedIndex].value">
      {% for methodkey, methodname in methods %}
        <option value="/{{ election.key.name }}/results/{{ methodkey }}"{% ifequal methodkey method %} selected="selected"{% endifequal %}>
          {{ methodname }}
        </option>
      {% endfor %}
    </select>
    <div class="choices">
      {% for rank in ranks %}
        <div class="ranking">
          {% for candidate in rank %}
            <span class="candidate">
              {{ candidate.title|escape }}
            </span>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </body>
</html>
