html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

body {
	background: #EED;
	color: #112;
	padding: 20px;
}

.candidate {
	border-radius: 1em;
	padding: .2em .5em;
	border: 1px solid red;
	background: #FCC;
	margin: .1em;
}

.unranked {
	padding: .5em;
	margin: 1em;
	border-radius: 1em;
	border: 2px solid #C9C;
	background: #636;
	text-align: center;
	float: right;
	width: 12em;
}

.unranked .candidate {
	display: block;
	margin: .6em;
	width: auto;
}

.unranked:before {
	color: #FEE;
	font-weight: bold;
	content: "Unranked";
}

.ranking {
	padding: .3em;
	margin: 0;
	border: 0;
}

.choices {
	width: 44em;
	background: #09C;
	border: .2em solid #BBC;
	margin: 1em 0;
	padding: .2em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	text-align: center;
}

.choices:before {
	color: #FEE;
	font-weight: bold;
	content: "Favorite";
}

.choices:after {
	color: #FEE;
	font-weight: bold;
	content: "Least Favorite";
}

form.bubble {
	background: #3CF;
	-moz-border-radius: .7em;
	-webkit-border-radius: .7em;
	border-radius: .7em;
	padding: 2em;
	width: 40em;
}

form.bubble fieldset {
	border: none;
	margin-bottom: 1em;
}

li.formrow {
	list-style: none;
	padding: .2em 2em;
}

li.formrow label {
	float: left;
	width: 7em;
}

li.formtext {
	list-style: none;
	padding: .2em 2em;
}

li.formtext label {
	display: block;
}

.button {
	background: #363;
	border: outset #462;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #FFF;
	display: block;
	font: serif;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000;
}

.button:hover {
	background: #474;
	cursor: pointer;
}

.button:active {
	border: inset #264;
	background: #252;
}

#description {
	width: 90%;
}

footer {
	display: block;
	border-top: 2px groove;
	margin-top: 1em;
}

input.candidatevalue {
	width: 4em;
	display: none;
}
