html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

body {
	background: #FFF;
	color: #111;
	padding: 20px;
}

.option {
	border-radius: 1em;
	padding: .2em .5em;
	border: 1px solid red;
	background: #FCC;
	margin: .1em;
}

.ranking {
	padding: .3em;
	margin: 0;
	border-top: .2em solid #CCC;
}

.choices {
	border-bottom: .2em solid #CCC;
	margin-bottom: 1em;
}

form.bubble {
	background: #3CF;
	-moz-border-radius: .7em;
	-webkit-border-radius: .7em;
	border-radius: .7em;
	padding: 2em;
	width: 40em;
}

form.bubble fieldset {
	border: none;
	margin-bottom: 1em;
}

li.formrow {
	list-style: none;
	padding: .2em 2em;
}

li.formrow label {
	float: left;
	width: 7em;
}

li.formtext {
	list-style: none;
	padding: .2em 2em;
}

li.formtext label {
	display: block;
}

.button {
	background: #363;
	border: outset;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #FFF;
	display: block;
	font: serif;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000;
}

.button:hover {
	background: #474;
	cursor: pointer;
}

.button:active {
	border: inset;
}

#description {
	width: 90%;
}

footer {
	display: block;
	border-top: 2px groove;
	margin-top: 1em;
}
